<div class="profile" id="page_anchor" >
  <%= image_tag "rufus_profile.png" %>
  <p>
  <h1>Rufus Luttig<h1>
    <h2>South African Director</h2>
    <ul>
      <li><span>Address:</span>&nbsp;PO Box 7093, Grahamstown North, 6148, South Africa</li>
      
      <li><span>Phone:</span>+27&nbsp;(0)83&nbsp;281&nbsp;0181</li>
      <li><span>Email:</span>&nbsp;<%=mail_to "rufus@huntsa.com"%></li>
      </ul>
  </p>
<div class="clear"></div>       
</div>

<div class="profile">
  <%= image_tag "brad_profile.png" %>
  <p>
  <h1>Brad Rauch<h1>
    <h2>US Representative</h2>
    <ul>
      <li><span>Address:</span>&nbsp;247 Kara Drive, Kalispell, MT 59901</li>
      
      <li><span>Phone:</span>&nbsp;(406)&nbsp;249-7068</li>
      <li><span>Email:</span>&nbsp;<%=mail_to "kuduhntr@gmail.com"%></li>
      </ul>
  </p>
<div class="clear"></div>       
</div>


<div class="profile">
  <%= image_tag "john.png" %>
  <p>
  <h1>John Martins<h1>
    <h2>Eastern US Representative</h2>
    <ul>
      <li><span>Address:</span>&nbsp;55 Freshwater Dr., Palm Harbor, FL 34684</li>
      
      <li><span>Phone:</span>&nbsp;(727)&nbsp;434-0840</li>
      <li><span>Email:</span>&nbsp;<%=mail_to "johnsmartins@aol.com"%></li>
      </ul>
  </p>
<div class="clear"></div>       
</div>


