<div class="site_background" id="page_anchor">
<h1>Welcome to our Ranch</h1>
<%= image_tag "ranch.png", :class => "left" %>
<p>As a guest at our ranch your will be treated to first class hospitality and have access to over 40,000 acres of premier hunting landscape. Our lodge is magnificently appointed with entertainment areas and comfortable, well appointed en suite rooms. The Peace and tranquillity offered by our luxurious surroundings will soothe a tired body after a hard day of hunting. Relax and enjoy the most attentive service and the finest South African cuisine.</p>

<%= image_tag "hunting_truck.png", :class => "left"%>
<p class="second_paragraph">Our hunting staff is committed to giving you the hunt of a lifetime. There are more than 35 species to choose from. We pride ourselves in being dedicated to ensure top class trophies are shot whilst enjoying the experience of a lifetime. We aim to create home away from home and clients always leave us as friends.</p>
<br/>
<br/>
<br/>
<br/>
<hr/>
<br/>
<%= image_tag "lodge1.png", :class => "left" %>
<%= image_tag "lodge2.png", :class => "left" %>
<%= image_tag "lodge3.png", :class => "left" %>
<%= image_tag "lodge4.png", :class => "left" %>
<div class="clear"></div>
</div>


