<div class="site_background">
  <h1>Hunting Photo & Story</h1>
  <% if @picture.picture_file_name.blank? %>
  <%=image_tag "no_image.png", :class => "no_border"%>
  <% else %>
  <%= image_tag @picture.picture(:thumb)%>
  <% end %>
<% form_for @picture, :html => { :multipart => true } do |form| %>
  <%= form.file_field :picture, :style => "color:white" %><br/><br/><br/>
  
  <%= form.label "Hunters Name"%><span class="req">*</span><br/>
  <%= form.text_field :shooter_name %><br/><br/>
  
  <%= form.label "Hunters Place (eg. Seattle, Wa)"%><span class="req">*</span><br/>
  <%= form.text_field :shooter_place %><br/><br/>
  
  <%= form.label "Brief Hunting Story"%><br/>
  <%= form.text_area :story, :size => "50x10" %><br/>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <hr/>
  <%= form.submit "Save Picture" %>
<% end %>
</div>