<!DOCTYPE html>
<html>
<head>
  <title>Huntsa</title>
  <%= stylesheet_link_tag :all, 'jquery.fancybox-1.3.4.css' %>
  <%= javascript_include_tag 'rails', 'jquery-1.4.3.min.js', 'jquery.mousewheel-3.0.4.pack.js', 'jquery.fancybox-1.3.4.pack.js', "jquery.nivo.slider.pack", 'my_methods.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <script type="text/javascript">
  $(window).load(function() {
  	$('#slider').nivoSlider({
  		effect:'fade', //Specify sets like: 'fold,fade,sliceDown'
  		slices:1,
  		animSpeed:900, //Slide transition speed
  		pauseTime:5000,
  		startSlide:2, //Set starting Slide (0 index)
  		directionNav:true, //Next & Prev
  		directionNavHide:true, //Only show on hover
  		controlNav:true, //1,2,3...
  		controlNavThumbs:true, //Use thumbnails for Control Nav
      controlNavThumbsFromRel:false, //Use image rel for thumbs
  		controlNavThumbsSearch: '.jpg', //Replace this with...
  		controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
  		keyboardNav:true, //Use left & right arrows
  		pauseOnHover:true, //Stop animation while hovering
  		manualAdvance:false, //Force manual transitions
  		captionOpacity:0.8, //Universal caption opacity
  		beforeChange: function(){},
  		afterChange: function(){},
  		slideshowEnd: function(){} //Triggers after all slides have been shown
  	});
  });
  
  $(document).ready(function() {
    $("a#picturebox").fancybox({
			'overlayShow'	: true,
			'autoScale'   : true,
			'transitionIn'	: 'elastic',
			'transitionOut'	: 'elastic',
			'opacity'		: true
		});
	  	$("a#storybox").fancybox({
				'width'				: '25%',
				'height'			: '25%',
				'autoScale'			: false,
				'transitionIn'		: 'elastic',
				'transitionOut'		: 'elastic',
				'type'				: 'iframe'
			});
		});
  
  
  </script>
   <div id="navigation">
     <ul>
       <li><%= link_to "Home", root_path %></li>
       <li><%= link_to "The Ranch", ranch_path %></li>
       <li><%= link_to "Trophy Room", trophy_room_path %></li>
       <li><%= link_to "Hunts", ""%></li>
       <li><%= link_to "Contact", ""%></li>
     </ul>
      <%=image_tag("logo.png")%>
  </div>
  <div class="header">
    <div id="slider">
      <%= image_tag("lion.png", :class => "header_image")%>
      <%= image_tag("animal2.png", :class => "header_image")%>
      <%= image_tag("animal3.png", :class => "header_image")%>
      <%= image_tag("animal4.png", :class => "header_image")%>
    </div>
  </div>

			
	<div id="root">			
		 <% flash_messages %>
		<div id='contents'>
		<%= yield %>
    </div>
	
<div id='footer'>
<%=link_to "Civic Outreach", ""%> | <%=link_to "Our Mission", ""%> | <%=link_to "FAQ", ""%>
</div>
</body>
</html>
